<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-img src="../assets/img/Logo.png" class="img"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-list>
      <ion-card *ngFor="let color of colors$|async">
        <ion-grid>
          <ion-row>
            <ion-col [ngStyle]="{'background-color': color.color}">
              <ion-card-content>
                <ion-card-title>{{color.id}}</ion-card-title>
                <!-- <ion-card-title [ngStyle]="{'background-color': color.color}">.</ion-card-title> -->
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>
  </ion-content>

</ion-content>