<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       <ion-img src="../assets/img/Logo.png" class="img"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

 
  <ion-list>
    <ion-card *ngFor="let color of colors$|async">
      <ion-grid>
        <ion-row>
          <ion-col [ngStyle]="{'background-color': color.color}" width-100>
            <ion-card-content>
              <ion-card-title>{{color.id}}</ion-card-title>
            </ion-card-content>
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>

</ion-content>
